html, body {
    margin: 0;
  }

#wrapper{
  position: absolute;
  width: 100vw;
  height: 100vh;
  /* background-color: red; */
  /* pointer-events: none; */
}

#restart {
  position: relative;
  padding-top: 50px;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 2.5vh;
  color: gray;
  font-family: Cascadia Code;
}

#start {
  width: 20vw;
  height: 20vh;
  position: absolute;
  top: 40vh;
  left: 40vw;
  z-index: 10;
}

#sketchPhoto1{width: 12vw;height: auto;position: absolute}
#sketchPhoto2{width: 12vw;height: auto;position: absolute}
#sketchPhoto3{width: 12vw;height: auto;position: absolute}
#sketchPhoto4{width: 12vw;height: auto;position: absolute}
#sketchPhoto5{width: 12vw;height: auto;position: absolute}
#sketchPhoto6{width: 12vw;height: auto;position: absolute}

.sketches {
  position: absolute;
  top: 40vh;
  left: calc(50vw - 12.5vh);
  float: left;
  transition: 2s;
}

#mess:target > #sketch1 {
  transform: translate(-16vw, -25vh);
}

#mess:target > #sketch2 {
  transform: translate(-16vw, 0vh);
}

#mess:target > #sketch3 {
  transform: translate(-16vw, 25vh);
}


#mess:target > #sketch4 {
  transform: translate(16vw, -25vh);
}

#mess:target > #sketch5 {
  transform: translate(16vw, 0vh);
}

#mess:target > #sketch6 {
  transform: translate(16vw, 25vh);
}




#checkbox1:checked ~ #wrapper {
  background-color: black;
  position: absolute;
}

#mode {
  position: absolute;
  left: calc(12vw - 12.5vh);
  top: calc(11vw - 12.5vh);
  color: gray;
  z-index: 10;
  font-family: Cascadia Code;
  font-size: 2vh;
}

#checkbox1 {
  position: absolute;
  top: calc(11vw - 12.5vh);  
  left: calc(10vw - 12.5vh); 
  z-index: 10;
}


#wrapper2 {
  color: rgba(204, 235, 202);
  font-weight: bold;
  -webkit-text-stroke-width: .01vw;
  -webkit-text-stroke-color: gray;
  letter-spacing: .5vw;
  width: 100vw;
  length: 100vh;
  overflow: hidden;
  position: relative;
  font-size: 5vw;
  font-family: Cascadia Code;
   transform: rotate(90deg);
   z-index:-1;
}

#marquee1 {
  width: 10000vw;
  position: relative;
  animation: lefttextscroll infinite 60s linear;
}
#marquee2 {
  width: 10000vw;
  position: relative;
  animation: righttextscroll infinite 60s linear;
}

#marquee1:hover, #marquee2:hover {
  animation-play-state: paused;
  color: gray;
}

@keyframes lefttextscroll {
  from{left: 0vw;}
  to{left: -434.5vw}
}
@keyframes righttextscroll {
  from{left: -434.5vw;}
  to{left: 0;}
}

#popup1{width: 30vw;height: auto;position: absolute}

#sketch1popup:target {
  pointer-events: all;
  opacity: 1;
}

#sketch1popup {
  pointer-events: none;
  transition: 2s;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 25vh;
  left: 26vw;
}

#description1 {
    margin: 0px;    
    line-height: 50%;
    position: fixed;
    z-index: 10;
    background-color: white;
    top: 65vh;
    left: 58vw;
    font-family: Cascadia Code;
    font-size: 2vh;
}


#popup2{width: 30vw;height: auto;position: absolute}

#sketch2popup:target {
  pointer-events: all;
  opacity: 1;
}

#sketch2popup {
  pointer-events: none;
  transition: 2s;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 25vh;
  left: 26vw;
}

#description2 {
    margin: 0px;    
    line-height: 50%;
    position: fixed;
    z-index: 10;
    background-color: white;
    top: 65vh;
    left: 58vw;
    font-family: Cascadia Code;
    font-size: 2vh;
}

#popup3{width: 30vw;height: auto;position: absolute}

#sketch3popup:target {
  pointer-events: all;
  opacity: 1;
}

#sketch3popup {
  pointer-events: none;
  transition: 2s;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 25vh;
  left: 26vw;
}

#description3 {
    margin: 0px;    
    line-height: 50%;
    position: fixed;
    z-index: 10;
    background-color: white;
    top: 65vh;
    left: 58vw;
    font-family: Cascadia Code;
    font-size: 2vh;
}


#popup4{width: 30vw;height: auto;position: absolute}

#sketch4popup:target {
  pointer-events: all;
  opacity: 1;
}

#sketch4popup {
  pointer-events: none;
  transition: 2s;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 25vh;
  left: 26vw;
}

#description4 {
    margin: 0px;    
    line-height: 50%;
    position: fixed;
    z-index: 10;
    background-color: white;
    top: 65vh;
    left: 58vw;
    font-family: Cascadia Code;
    font-size: 2vh;
}


#popup5{width: 30vw;height: auto;position: absolute}

#sketch5popup:target {
  pointer-events: all;
  opacity: 1;
}

#sketch5popup {
  pointer-events: none;
  transition: 2s;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 25vh;
  left: 26vw;
}

#description5 {
    margin: 0px;    
    line-height: 50%;
    position: fixed;
    z-index: 10;
    background-color: white;
    top: 65vh;
    left: 58vw;
    font-family: Cascadia Code;
    font-size: 2vh;
}

#popup6{width: 30vw;height: auto;position: absolute}

#sketch6popup:target {
  pointer-events: all;
  opacity: 1;
}

#sketch6popup {
  pointer-events: none;
  transition: 2s;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 25vh;
  left: 26vw;
}

#description6 {
    margin: 0px;    
    line-height: 50%;
    position: fixed;
    z-index: 10;
    background-color: white;
    top: 65vh;
    left: 58vw;
    font-family: Cascadia Code;
    font-size: 2vh;
}



#center {
  padding: 10px;
  width: 40vw;
  height: 100vh;
  margin-left: 30vw;
  margin-top: 15vh;
  background-color: blue;
  font-size: calc(40px - .5vw);
}


@media (min-width: 1024px) {
    #center {
        width: 80%;
        padding: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    #center {
        width: 90%;
        padding: 15px;
    }
}

@media (max-width: 767px) {
    #center {
        width: 100%;
        padding: 10px;
    }
}