body {
    margin: 0;
}

#wrap1 {
width:100vw;
height: 100vh;
background-color: #ffaab8;
position: relative;
}

#titletext1 {
font-family: Playwrite GB S, cursive;
font-size: 8vw;
color: white;
padding: 2vw;
position: relative;
top: calc(50vh - 25vh);
}

#wrap2 {
width:100vw;
height: 100vh;
background-color: #fdd490;
position: relative;
}

#titletext2{
position: absolute;
font-family: Playwrite GB S, cursive;
font-size: 8vw;
color: white;
padding: 2vw;
top: calc(50vh - 40vh);
}
